/*
-Red    #D71921
-Blue   #3A4D80
-White  #FCF7F8
-L.grey #CED3DC
-D.grey #ABA9C3
*/

.center-txt {
    text-align: center;
}

body {
    font-family: sans-serif;
    background-color: #FCF7F8;
}

main {
    padding: .4rem;
    margin: 0 auto;
}

h1 {
    color: #D71921;
    border: 2px solid;
    border-bottom: 2px solid;
    box-shadow: -3px 3px 0 3px;
    padding: 0 0 .5rem 0;
}

h1:hover {
    color: #3A4D80;
    box-shadow: -1px 1px 0 1px;
    transform: translate(-2px,2px);
}

#contacts-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}

.card {
    color: #3A4D80;
    border: 2px solid;
    box-shadow: -3px 3px 0 3px;
    max-width: 240px;
    padding: 1.2rem;
    margin: 0 auto;
}

.card:hover {
    color: #D71921;
    box-shadow: -1px 1px 0 1px;
    transform: translate(-2px,2px);
}

.c-list {
    list-style-type: none;
}

.c-img {
    margin: 0 0 1rem 0;
}

footer {
    background-color: #3A4D80;
    color: #FCF7F8;
    margin: 1rem 0 0 0;
    padding: 1rem;
    text-align: center;
}

footer:hover {
    background-color: #D71921;
}

footer a {
    color: #FCF7F8;
}

footer a:hover {
    color: #CED3DC;
}