.center-txt {
    text-align: center;
}

body {
    font-family: sans-serif;
}

h1 {
    color: #ff2222;
    border-bottom: 4px solid #2222ff;
    padding: 0 0 .5rem 0;
}

#contacts-display {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

.card {
    border: 2px solid #ff2222;
    box-shadow: 0 0 10px 2px #ccc;
    min-width: fit-content;
    max-width: 100%;
    padding: 1.2rem;
}

.card:hover {
    box-shadow: 0 0 20px #2222ff;
}

.c-list {
    list-style-type: none;
}

footer {
    background-color: #ff2222;
    color: white;
    margin: 1rem 0 0 0;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ddd;
}